{# templates/lucky/number.html.twig #} 

{% extends "base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('pages/css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    
    <h1>PAGE 3</h1>

{% endblock %}